#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #2e323b2e;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
}

.logo {
  height: 60px;
  position: absolute;
  left: 30px;
}

.App-payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh;
}

.rccs {
  margin: 0;
  margin-bottom: 30px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 300px;
  margin-bottom: 10px;
}

.form-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total {
  font-size: 20px;
  text-align: center;
}

.number {
  font-size: 22px;
  font-weight: bold;
}

.detail {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.detail-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
  background-color: #2e323bd5;
  color: white;
  border-radius: 5px 5px 0 0;
}

.detail-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}